//---------------------//

//  0 Imports

//  1 Style-guide
//    1.1 Variables
//    1.2 Defaults

//  2 Call-me-maybes
//    2.1 Utility-sasses
//    2.2 Utility-classes
//    2.3 Mixins

//  3 Templates
//    3.1 Models
//    3.2 Components

//--------------------//

//  0 Imports  //

@import url(https://fonts.googleapis.com/css?family=Ubuntu:500);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

//  1 Style-guide  //

//  1.1 Variables

$color-white: #fff;
$color-extreme: #ffeb3b;

$color-primary: #263238;
$color-secondary: #c4473a;
$color-tertiary: #673ab7;
$color-tertiary-alt: #00858f;
$color-text-primary: $color-white;
$color-text-secondary: #b0bec5;

$size-app: 10vw;
$size-type: 1.25rem;

//  1.2 Defaults (resets)

html body {
  cursor: pointer;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: $size-app;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a {
    color: $color-tertiary;
  }

  h1 {
    color: $color-text-primary;
    font-size: 100%;
  }

  h2 {
    color: $color-text-secondary;
    font-size: 50%;
  }

  p {
    font-size: $size-type;
  }
}

//  2 Call-me-maybes  //

//  2.1 Utility-sasses

%pull-right {
  display: inline-block;
  float: right;
}

%title {
  font-family: 'Ubuntu';
  text-shadow: 0 .05em 0 rgba(0, 0, 0, .35);
}

%subtitle {
  font-family: 'Source Sans Pro';
}

%flex-row-container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

//  2.2 Presentational-classes

.hide {
  display: none;
}

.b2-logo {
  fill: $color-tertiary-alt;
  font-family: 'Roboto';
  font-size: 24px;
  left: 10px;
  position: absolute;
  top: 30px;
  z-index: 999;

  img {
    margin-bottom: -3px;
    padding: 0 10px;
    width: 220px;
  }
}

.bg {
  background-color: $color-tertiary-alt !important;
}

.intro-bg {
  background: url('../images/bg-intro-code-alt.png') center/cover !important;
}

//  2.3 Mixins

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  } @else if $class == sm {
    @media (min-width: 768px) { @content; }
  } @else if $class == md {
    @media (min-width: 992px) { @content; }
  } @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  } @else {
    @warn 'Breakpoint mixin supports: xs, sm, md, lg';
  }
}

//  3 Templates  //

//  3.1 Models

.page {
  background-color: $color-secondary;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  &__logo {
    cursor: pointer;
    margin: 25px;
    position: fixed;
    width: 200px;
  }

  &__menu {
    color: $color-text-primary;
    cursor: pointer;
    font-size: 50px;
    margin: 15px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
  }

  &__reset {
    font-size: 40px;
    position: absolute;
    right: 100px;
    top: 20px;
    z-index: 999;

    a {
      color: $color-text-secondary;
    }
  }

  &__share {
    font-size: 40px;
    margin: .5em;
    text-align: center;
    width: 100%;
  }

  section {
    background: $color-primary;
    box-shadow: 0 .05em 0 rgba(0, 0, 0, .35);
    color: $color-text-primary;
    height: 95%;
    width: 100%;
  }

  h1 {
    @extend %title;
  }

  h2 {
    @extend %subtitle;
    cursor: pointer;
    white-space: nowrap;

    a {
      color: $color-text-secondary;
      text-decoration: none;
    }

    i {
      margin-left: .25em;
      vertical-align: middle;
    }
  }
}

//  3.2 Components

.intro {
  @extend %flex-row-container;
  flex-flow: row-reverse wrap;
  padding: 1em;

  &__text {
    width: 60%;

    .subtitle {
      font-size: 40%;
    }
  }

  &__media {
    background: url('../images/bg-intro-code.png') center/cover;
    font-size: .5em;
    width: 30%;

    img {
      width: 100%;
    }
  }
}

.card-wrapper {
  @extend %flex-row-container;
  align-content: flex-start;
  align-items: stretch;
  justify-content: space-around;
  margin-top: 100px;

  article {
    box-sizing: border-box;
    flex: 1;
    justify-content: space-around;
    margin: .125em;

    @include breakpoint(sm) {
      margin: .125em .25em;
      min-width: 30%;
    }

    @include breakpoint(xs) {
      margin: .125em .25em;
      min-width: 90%;
    }
  }
}

.card {
  background-color: $color-white;
  border-radius: 4px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, .23), 0 3px 12px rgba(0, 0, 0, .16);
  text-align: left;

  &__title {
    padding: 10px 20px;

    h2 {
      font-size: 24px;
      padding: 10px 0;
    }

    h3 {
      font-size: 20px;
    }
  }

  &__supporting-text {
    font-size: $size-type;
    padding: 10px 20px;
  }

  &__actions {
    font-size: 16px;
    list-style: none;
    padding: 20px;

    a {
      font-weight: bold;
      line-height: 1.5em;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
